services:
  node-exporter:
    container_name: node-exporter
    ports:
      - "9100:9100"
    image: quay.io/prometheus/node-exporter:latest
    restart: always
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs